<div class="site-loader"></div>

<div class="site-wrap">
  <div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <div class="site-navbar mt-4">
    <div class="container py-1">
      <div class="row align-items-center">
        <div class="col-8 col-md-8 col-lg-4">
          <h1 class="mb-0">
            <a href="index.html" class="text-white h2 mb-0"
              ><strong>Homeland<span class="text-danger">.</span></strong></a
            >
          </h1>
        </div>
        <div class="col-4 col-md-4 col-lg-8">
          <nav
            class="site-navigation text-right text-md-right"
            role="navigation"
          >
            <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3">
              <a href="#" class="site-menu-toggle js-menu-toggle text-white"
                ><span class="icon-menu h3"></span
              ></a>
            </div>

            <ul class="site-menu js-clone-nav d-none d-lg-block">
              <li
              {% if '/' == request.path %}
                class="active"
              {% endif %}
              >
                <a href="{% url 'index' %}">Home</a>
              </li>
              <li
              {% if 'about' in request.path %}
                class="active"
              {% endif %}
              >
                <a href="{% url 'about' %}">About</a>
              </li>
              <li
              {% if 'properties' in request.path %}
                class="active"
              {% endif %}
              >
                <a href="{properties.html}">Properties</a>
              </li>
              <li
              {% if 'contact' in request.path %}
                class="active"
              {% endif %}
              >
                <a href="{% url 'contact' %}">Contact</a>
              </li>
              <li
              {% if 'login' in request.path %}
                class="active"
              {% endif %}
              >
                <a href="{% url 'accounts:login' %}">Login</a>
              </li>
              <li
              {% if 'signup' in request.path %}
                class="active"
              {% endif %}
              >
                <a href="{% url 'accounts:register' %}">Sign Up</a>
              </li>
              <!-- <li class="has-children">
                <a href="#">User</a>
                <ul class="dropdown arrow-top">
                  <li><a href="dashboard.html">Dashboard</a></li>
                  <li><a href="add_property.html">Add Property</a></li>
                  <li><a href="feedback.html">Feedback</a></li>
                </ul>
              </li> -->
              <li></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
