{% extends 'base.html' %}

<!-- Humanize -->
{% load humanize %}

<!-- Main Content -->
{% block content %}
<div
  class="site-blocks-cover inner-page-cover overlay"
  style="background-image: url('/static/images/hero_bg_1.jpg');"
  data-aos="fade"
  data-stellar-background-ratio="0.5"
>
  <div class="container">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-md-10">
        <h1 class="mb-2">Browse Properties</h1>
      </div>
    </div>
  </div>
</div>

<div class="site-section site-section-sm pb-0">
  <div class="container">
    <div class="row">
        <form
            action="{% url 'properties:search' %}"
            method="GET"
            class="form-search col-md-12"
            style="margin-top: -100px;"
        >
        <div class="row  align-items-end">
          <div class="col-md-4 mb-4">
            <label for="list-types">Keywords</label>
            <div class="select-wrap">
              <input
                type="text"
                name="keywords"
                class="form-control d-block rounded-0"
                placeholder="Keywords(description, zipcode)"
                {% if values.keywords != "" %}
                  value={{values.keywords}}
                {% else %}
                  value=""
                {% endif %}
              />
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <label for="offer-types">Type</label>
            <div class="select-wrap">
              <span class="icon icon-arrow_drop_down"></span>
              <select
                name="types"
                id="offer-types"
                class="form-control d-block rounded-0"
              >
                <option value="All"
                {% if values.types == 'All' %}
                  selected
                {% endif %}
                >All</option>
                {% for key,value in type_choices.items %}
                <option value="{{ key }}"
                {% if key == values.type %}
                    selected
                {% endif %}
                >{{ value }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <label for="offer-types">Area</label>
            <div class="select-wrap">
              <span class="icon icon-arrow_drop_down"></span>
              <select
                name="area"
                id="offer-types"
                class="form-control d-block rounded-0"
              >
                <option value="All"
                {% if values.area == 'All' %}
                  selected
                {% endif %}
                >All</option>
                {% for key,value in area_choices.items %}
                <option value="{{ key }}"
                {% if key == values.area %}
                    selected
                {% endif %}
                >{{ value }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <label for="offer-types">Price</label>
            <div class="select-wrap">
              <span class="icon icon-arrow_drop_down"></span>
              <select
                name="price"
                id="offer-types"
                class="form-control d-block rounded-0"
              >
                <option value="All"
                {% if values.price == 'All' %}
                  selected
                {% endif %}
                >All</option>
                {% for key,value in price_choices.items %}
                <option value="{{ key }}"
                {% if key == values.price %}
                    selected
                {% endif %}
                >&#8377; {{ value }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <label for="select-city">Status</label>
            <div class="select-wrap">
              <span class="icon icon-arrow_drop_down"></span>
              <select
                name="status"
                id="select-city"
                class="form-control d-block rounded-0"
              >
                <option value="All"
                {% if values.status == 'All' %}
                  selected
                {% endif %}
                >All</option>
                {% for key,value in status_choices.items %}
                <option value="{{ key }}"
                {% if key == values.status %}
                    selected
                {% endif %}
                >{{ value }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <label for="select-city">Verification</label>
            <div class="select-wrap">
              <span class="icon icon-arrow_drop_down"></span>
              <select
                name="verification"
                id="select-city"
                class="form-control d-block rounded-0"
              >
                <option value="All"
                {% if values.verificaction == 'All' %}
                  selected
                {% endif %}
                >All</option>
                {% for key,value in verification_choices.items %}
                <option value="{{ key }}"
                {% if key == values.verification %}
                    selected
                {% endif %}
                >{{ value }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <input
              type="submit"
              class="btn btn-success text-white btn-block rounded-0 mt-4"
              value="Search"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% if properties %}
<div class="site-section site-section-sm bg-light">
  <div class="container">
    <div class="row mb-5">
      {% for property in properties %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="property-entry h-100">
          <a
            href="{% url 'properties:detail' property.id %}"
            class="property-thumbnail"
          >
            <div class="offer-type-wrap">
              {% if property.status == 'Sale' %}
              <span class="offer-type bg-danger text-center">Sale</span>
              {% else %}
              <span class="offer-type bg-info text-center">Rent</span>
              {% endif %}
              <!--  -->
              {% if property.is_verified %}
              <span class="offer-type bg-success">Verified</span>
              {% endif %}
            </div>

            <img
              src="{{ property.photo_main.url }}"
              alt="Image"
              class="img-fluid"
            />
          </a>
          <div class="p-4 property-body">
            <h2 class="property-title">
              <a href="{% url 'properties:detail' property.id %}">
                {{ property.title }}
              </a>
            </h2>
            <span class="property-location d-block mb-3"
              ><span class="property-icon icon-room"></span>
              {{ property.address }}</span
            >
            <strong
              class="property-price text-primary mb-3 d-block text-success"
              >&#8377; {{ property.price | intcomma }}</strong
            >
            <ul class="property-specs-wrap mb-3 mb-lg-0">
              <li>
                <span class="property-specs">Type</span>
                <span class="property-specs-number">{{ property.type }}</span>
              </li>
              <li>
                <span class="property-specs">SQ FT</span>
                <span class="property-specs-number">{{ property.sqft }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% else %}
<div class="row justify-content-center mt-5">
    <div class="col-md-12 col-lg-10 mb-5">
        <p class="lead text-center text-dark">
           No Results Found!
        </p>
    </div>
</div>
{% endif %}

<div class="row mb-5">
  <div class="col-md-12 text-center">
    {% if properties.has_other_pages %}
    <div class="site-pagination">
      {% if properties.has_previous %}
      <a href="?page={{ properties.previous_page_number }}">&laquo;</a>
      {% else %}
      <a class="disabled">&laquo;</a>
      {% endif %}
      <!--  -->
      {% for i in properties.paginator.page_range %}
      <!--  -->
      {% if properties.number == i %}
      <a href="?page={{ i }}" class="active">{{ i }}</a>
      {% else %}
      <a href="?page={{ i }}">{{ i }}</a>
      {% endif %}
      <!--  -->
      {% endfor %}
      <!--  -->
      {% if properties.has_next %}
      <a href="?page={{ properties.next_page_number }}">&raquo;</a>
      {% else %}
      <a class="disabled">&raquo;</a>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
<!--  -->
{% endblock content %}
